@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>

    </p>
    <p>

    </p>
    <h1 class="display-4">Bienvenido a Laboratorio 1</h1>


    <div class="btn-group" role="group">
        <a asp-controller="Jugadores" asp-action="SeleccionListaC"
           class="btn btn-primary">
            Utilizar Lista C#
        </a>
    </div>



    <div class="btn-group" role="group">
        <a asp-controller="Jugadores" asp-action="SeleccionListaAr"
           class="btn btn-primary">
            Utilizar Lista Artesanal
        </a>
    </div>




</div>
